<div class="flex h-[80vh] border rounded overflow-hidden">
  <%= render partial: "messages/thread_list", locals: { threads: @threads } %>
  <div class="flex-1 hidden md:flex flex-col items-center justify-center text-gray-500 bg-white">
    <div class="text-xl font-semibold mb-2">Select a conversation</div>
    <p class="text-sm text-gray-400">Choose a thread from the left to start messaging.</p>
  </div>
</div>
