<h1 class="text-4xl font-bold text-blue-600">BookBridge</h1>
<% if user_signed_in? %>
  <p>Email: <%= current_user.email %></p>
  <p>University: <%= current_user.university %></p>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary' %>
<% end %>
