<h1>📚 Welcome to BookBridge</h1>
<% if user_signed_in? %>
  <p>Logged in as <%= current_user.email %></p>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <p>
    <%= link_to 'Sign up', new_user_registration_path %> or
    <%= link_to 'Log in', new_user_session_path %>
  </p>
<% end %>
