<div class="flex flex-col items-center" data-controller="dropdown-toggle">
  <div class="absolute top-5 left-5 font-bold text-2xl">Book<span class="text-blue-500">Bridge</span></div>
  <div class=" w-[65%] items-center mt-20">
    <h1 class="text-gray-900 font-semibold text-2xl">My Listings</h1>
  </div>
  <div class="somepeer w-[65%] flex justify-end">
    <select class="select w-50 border border-gray-400 bg-transparent rounded-lg mt-4 mb-4" data-action="change->dropdown-toggle#toggleDropdown" data-dropdown-toggle-target="dropdown">
      <option value="all">My Listings</option>
      <option value="saved">Saved Listings</option>
    </select>
  </div>
  <!-- My Listings -->
  <div class="w-[65%] min-h-[70vh] flex flex-col" data-dropdown-toggle-target="all">
    <% @listings.each do |listing| %>
      <%= render ListingCardComponent.new(listing: listing, mode: :editable) %>
    <% end %>
  </div>
  <!-- Saved Listings -->
  <div class="w-[65%] min-h-[70vh] flex flex-col hidden" data-dropdown-toggle-target="saved">
    <% @saved_listings.each do |listing| %>
      <% saved_item = current_user.saved_items.find_by(listing_id: listing.id) %>
      <%= render ListingCardComponent.new(listing: listing, mode: :saved, saved_item: saved_item) %>
    <% end %>
  </div>
</div>